@charset "UTF-8";
body {
    font-family:"微软雅黑", arial, helvetica, verdana, sans-serif;
    min-width: 1263px;
}
.text-danger {
    color:#FF0000
}
.text-success {
    color:#0DCE0D
}
.text-warning {
    color:#FFA725
}
a {
    text-decoration: none;
    color: #288df0;
}

a:hover {
    text-decoration: none !important;
    color: #f60 !important;
}
a.btn:hover {
    color: white !important;
}
.well {
    border-radius:0 !important;
    box-shadow:none !important;
}
.well.leftNav {
    background-color: #F5F8F9;
    padding: 8px 16px;
    margin-bottom: 7px;
    color: #ccc;
}
.well.leftNav.sm,.well.leftNav a {
    color: #000;
}
.well.leftNav.sm {
    padding: 5px 16px;
}
.well.leftNav .active > a {
    color: #f60;
}
.modal-dialog {
    z-index: 1050;
}
.modal-header {
    padding:10px 15px
}
.modal-footer {
    margin:0;
    padding:5px 20px
}
#header > table {
    width: 100%;
}
#header .btn,#header input {
    border-radius: inherit;
}
#header > table form {
    width: 100%;
}
#header > table form .form-group {
    width: 80% !important;
    float:left
}
#header > table .twitter-typeahead {
    width: 100% !important;
}
#header > table .form-control {
    width: 100% !important;
}
#header .nav > li a {
    font-size: 14px;
    padding: 3px 5px;
    min-width: inherit;
}
#header .nav > li:nth-child(2).active a {
    background-color: #f0ad4e;
    border-color: #eea236;
}
#header ul.nav-tabs {
    border-bottom:none;
}
.suggestionPanel {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    position: absolute;
    width: 100%;
    z-index: 9999;
    display: none;
}
.search-item {
    color: #298CF0;
    display: block;
    height: 25px;
    line-height: 20px;
    margin: 0 5px;
    text-decoration: none;
    width: 100%;
}
.search-item a:hover {
    background-color: #ccc;
    text-decoration: none;
    color:#288df0 !important;
}
.hot-keywords {
    padding-left: 15px;
    height:20px;
    margin-bottom:5px;
    font-size: 12px;
    overflow: hidden
}
#logoImg,.logoImg {
    margin-top:-11px;
    margin-left:42px
}

.topNavMenu {
    background-color: #428bca;
    height: 32px;
    padding-left: 20px;
}
ul.topNavMenu {
    list-style: none;
    margin-bottom: 0;
}
.topNavMenu li {
    float: left;
}
.topNavMenu li .btn,.categoryNav {
    border-radius:0;
    border: none;
    min-width: 110px;
    height: 32px;
    font-size: 15px;
}
.topNavMenu li .btn {
    padding: 5px 16px;
}
.topNavMenu .dropdown-menu {
    margin:0;
}
.topNavMenu .dropdown-menu li {
    float:none
}
.topNavMenu .hoverable:hover > .dropdown-menu {
    display: block;
}

.region {
    border: 1px solid #e3e3e3;
    margin-bottom: 10px;
}
.regionHeader,.portletHeader {
    background-color: #428BCA;
    color: #FFFFFF;
    font-weight: bold;
    height: 31px;
    line-height: 20px;
    padding:5px;
    border-bottom: 1px solid #e3e3e3;
    margin: 0
}
.region .regionHeader,.region .portletHeader{
    line-height: inherit;
    margin: 0 -1px
}
.portletHeader{
    text-align: center;
}
.regionHeaderCollapse {
    height: 30px;
    border-bottom: none;
    margin-bottom:0;
}
.expanderWrapper {
    height: 16px;
    width: 16px;
}
.expander-up,.expander-down, .tool-img{
    cursor: pointer;
    background-image: url("/store/resource/image/tool-sprites.png");
    height: 16px;
    margin: -4px 0 0;
    overflow: hidden;
    width: 16px;
    opacity: 0.5;
}
.expander-up:hover,.expander-down:hover, .tool-img:hover {
    opacity: 0.6;
}
.expander-up {
    background-position: 0 -224px;
}
.expander-down {
    background-position: 0 -208px;
}
.tool-img {
    background-position: 0 -96px;
}

.strike {
    text-decoration:line-through
}

#footer {
    text-align: center;
    padding: 10px 10px 10px 20px;
    clear: both;
}
#footer a {
    color: #777;
}

.singleContainer {
    margin-top: 10px;
    padding:0 10px
}
.mainContainer {
    margin-top: 10px;
    padding:0 10px
}
.mainContainer > div:first-child {
    width: 20%;
    float: left;
}
.mainContainer > div:last-child {
    width: 79%;
    margin-left: 21%
}
.wangwang_icon {
    display: inline-block;
    width : 25px;
    height: 20px;
    background: url("/store/resource/image/wangwang.gif") 0 0 no-repeat;
}
/*****ext alike table*******/

.ext-fork-table {
    border-top: 1px solid #e3e3e3;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-size: 13px;
}
.ext-fork-table th {
    padding: 7px 10px;
    text-overflow: ellipsis;
    background-color: #F5F5F5;
    border-right: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0 !important;
    color: #666666;
    word-break: keep-all;
    white-space: nowrap;
    text-align: center;
}
.ext-fork-table-hideseparaterow > thead > tr > th:first-child {
    border-right: none;
}
.ext-fork-table td {
    padding: 5px 10px 4px 10px !important;
    line-height: 17px !important;
    vertical-align: middle !important;
    border:none;
    border-bottom: 1px solid #EDEDED !important;
    white-space: normal;
    word-break: break-all;
}
.ellipsisText{
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.ext-fork-table th:last-child {
    border-right: 0;
}
.ext-fork-table > tbody > tr:nth-child(2n+1), .even {
    background-color: #FFFFFF;
}
.ext-fork-table > tbody > tr:nth-child(2n), .odd {
    background-color: #FAFAFA;
}
.ext-fork-table-hideseparaterow > tbody > tr:nth-child(4n+1) {
    background-color: #FFFFFF;
}
.ext-fork-table-hideseparaterow > tbody > tr:nth-child(4n+3) {
    background-color: #FAFAFA;
}
.ext-fork-table-hideseparaterow > tbody > tr:nth-child(2n) {
    background-color: #FFFFFF;
}
.ext-fork-table > tbody > tr:hover {
    background-color: #E2EFF8;
}
.ext-fork-table-hideseparaterow > tbody > tr:nth-child(2n):hover {
    background-color: #FFFFFF;
}
.ext-fork-table th:hover .column-sort-trigger {
    visibility: visible;
}
.ext-fork-table .column-sort-trigger, .ext-fork-table .column-sort-sign {
    float: right;
    visibility: hidden;
    cursor: pointer;
    position: relative;
}
.ext-fork-table .column-sort-sign {
    visibility: visible;
    cursor: default
}
.row-expander, .row-collapsed {
    background-image: url("/store/resource/image/group-expand-sprite.png");
    background-repeat: no-repeat;
    height: 14px;
    width: 12px;
    cursor: pointer;
    margin-top:2px;
    padding-left: 15px;
}
.row-expander {
    background-position: 0 0;
}
.row-collapsed {
    background-position: 0 -50px;
}
.nowrap {
    word-break: keep-all !important;
    white-space: nowrap !important;
}

/*******pager*****************/
.pageNav {
    padding: 10px;
}
.pageNav form {
    margin:0;
}
.pageNav input {
    width: 30px;
}
.pageNav .prev, .pageNav .next, .pageNav .first, .pageNav .last, .pageNav .refresh {
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
    background-repeat:no-repeat;
}
.pageNav .prev {
    background-image: url("/store/resource/image/page-prev.png");
}
.pageNav .next {
    background-image: url("/store/resource/image/page-next.png");
}
.pageNav .first {
    background-image: url("/store/resource/image/page-first.png");
}
.pageNav .last {
    background-image: url("/store/resource/image/page-last.png");
}
.pageNav .refresh {
    background-image: url("/store/resource/image/refresh.png");
}

.nav-tabs {
    border-bottom: 2px solid #428BCA;
}

.nav-tabs > li > a{
    border: none;
    color: #000;
    font-size: 16px;
    padding: 7px 15px 5px;
    outline: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-color:#428BCA;
    border-top: 2px;
    border-radius: 0;
    background-color:#428BCA ;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer
}
.odps-top-nav{
}
.odps-top-nav.nav-tabs{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 35px;
    left: 0;
    padding: 0 0 7px 0;
    border-radius: 0;
    border:1px solid #c0c0c0;
    border-left: none;
    border-right: none;
    font-size: inherit;
}
.odps-top-nav.nav-tabs > li{
    float: left;
}
.odps-top-nav.nav-tabs > li > a{
    font-size: inherit;
    padding-bottom: 6px;
}
.odps-top-nav.nav-tabs > li.active > a{
    font-size: inherit;
    color: #f60;
    background-color:inherit;
    border:none;
    border-bottom: 2px solid #f60;
    padding-bottom: 5px;
}

.highlightdisplay {
    color: #FF0000;
    font-size: 30px;
    font-weight: bold;
    height: 92px;
    line-height: 80px;
    text-align: center;
    position: relative;
}
.highlightdisplay .minor {
    color: #666666;
}

.highlightdisplay > .moreinfo {
    display: none;
    margin:0 -1px;
    top: -17px;
    position: relative;
    line-height: 14px;
    font-size: 14px;
    background-color: white;
    color: #000;
    text-align: left;
    z-index: 10;
}
.highlightdisplay:hover > .moreinfo {
    display: block
}
.highlightdisplay > .moreinfo p {
    background-color: #ccc;
    padding:5px 0 5px 10px;
    font-weight: normal;
    word-break: break-all;
}
.highlightdisplay .more {
    color: #C9C9C9;
    font-size: 14px;
    line-height: 14px;
    position: relative;
    bottom: 6px;
    background-color: rgba(255,255,255,0);
}
.highlightdisplay .healthtip {
    border: 1px solid #000000;
    border-radius: 4px;
    color: #000000;
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    width: 140px;
    padding: 5px 2px;
    font-weight: normal;
}
ul.actionmsg {
    line-height: 16px;
}
#heartbeatAlert {
    display:none;
    background-color: red;
    color: white;
    font-weight: bold;
    width:100%;
    height: 22px;
    overflow: hidden;
    line-height: 22px;
    text-align: center
}